
@{
    ViewData["Title"] = "About";
}

<div class="cv">
    <h1>Resume </h1>

    <h2>Abel Magicho </h2>

    <p><strong>Date of birth:</strong>  19, januay</p>
    <a href="https://www.linkedin.com/in/abel-haile-magicho-871051129/" target="_blank">LinkedIn link</a>
    <a href="https://github.com/kembAB" target="_blank">GitHub link</a>


    <h2>Utbildning</h2>

    <h3> .NET	Lexicon-2022</h3>



    <h3>
        VUXENUTBILDNING
        VÅRD OCH OMSORG, ÄLDREVÅRD
        Januari 2018-December 2019
    </h3>



    <h3>
        YRKESHÖGSKOLEUTBILDNING
        OFFICE 365/SHAREPOINTUTVEKLARE
        2016–2017

    </h3>
    <h3>
        YRKESHÖGSKOLEUTBILDNING
        OFFICE 365/SHAREPOINTUTVEKLARE
        2016–2017

    </h3>
    <h3>
        MALMÖ UNIVERSITET
        PROGRAMMERING I C#
        2017


    </h3>
    <h3>
        MJUKVARUUTVECKLING MASTERNIVÅKURSER
        Chalmers Tekniska Högskola, Göteborg, Sverige.
        2019-2013



    </h3>
    <h3>
        DATORVETENSKAP, KANDIDATEXAMEN
        Arba Minch universitet, Addis Ababa, Ethiopien,


        2005–2007




    </h3>
    <h2>Kompetenser</h2>

    <p>PROGRAMMERING :c#,SQL</p>


    <h3>
        MALMÖ UNIVERSITET
        PROGRAMMERING I C#
        2017

    </h3>



    <h2>SPRÅK</h2>


    <ul>
        <li>  SVENSKA – GODA KUNSKAPER/li>
        <li> ENGLSKA – GDA KUNSKAPER</li>
        <li>  AMAHRISKA-MODERSMÅL</li>
    </ul>
</div>