
@{
    ViewData["Title"] = "Contact";
}

<div class="contact">

    <h1>Here is my contact information</h1>

    <h3>Abel Magicho</h3>

    <p><strong>Date of birth:</strong>  19, january , 1986</p>
    <p><strong>Home Adress:</strong> utlandagatan 16, 41567 , Göteborg</p>
    <p><strong>Mobil:</strong> 070000000</p>

    <div>
        <a href="mailto:Kokiabel1986@gmail.com"><strong>E-mail:</strong> kokiabel1986@gmail.com</a>
    </div>
</div>

